ealvaradob phishing dataset/combined_reduced.json
ealvaradob phishing dataset/combined_full.json
ealvaradob phishing dataset/gitattributes
ealvaradob phishing dataset/phishing-dataset.py
ealvaradob phishing dataset/README.md
ealvaradob phishing dataset/texts.json
ealvaradob phishing dataset/urls.json
ealvaradob phishing dataset/webs.json
